<nav class="purple darker-2">
    <div class="nav-wrapper">
        <a href="home.php" class="brand-logo"><i class="material-icons left">assignment_ind</i>Ignicontactos</a>
        <ul class="right hide-on-med-and-down">
            <li class="">Bienvenido {{app.username}}</li>
            <li class=""><a href="logout.php" class="waves-effect waves-light btn">Salir</a></li>
        </ul>
    </div>
</nav>
<ul class="tabs">
    <li class="tab col s3"><a href="#tab1">Lista</a></li>
    <li class="tab col s3"><a href="#tab2">Tabla</a></li>
</ul>

<div class="container" id="tab1">
    <div class="row">
    <contacto-lista 
         class="col s4"
        lista="app.listaDeContactos" 
        al-seleccionar="app.seleccionarContacto(contacto)">
    </contacto-lista>
    <contacto-detalle
        class="col s8"
        imagen="app.imagen"
        al-borrar="app.borrarContacto(id)"
        al-editar="app.iniciarEdicion(contacto)"
        contacto="app.contactoSeleccionado">
    </contacto-detalle>
    </div>

</div>
<div class="row" id="tab2">
    <contacto-tabla
                 class="col s12"
                 borrar-contactos="app.borrarContactos(lista)"
        contactos="app.listaDeContactos">
    </contacto-tabla>
</div>

<contacto-formulario
        al-actualizar="app.editarContacto(contacto)"
        al-crear="app.crearContacto(contacto)"
        al-seleccionar-img="app.subirImagen(file)"
        modo-editar="app.enEdicion"
        contacto="app.contactoEnEdicion">
</contacto-formulario>


<div class="fixed-action-btn" style="buttom: 2em; right: 2em;">
    <a class="btn-floating btn-large waves-effect waves-light red modal-trigger"
       href="#crear" ng-click="app.crear()"><i class="material-icons">add</i></a>
</div>
