<md-dialog ng-cloak>
    <md-dialog-content>
        <md-tool-bar layout="row">
            <div class="md-toolbar-tools">
                <h2>Nuevo Contacto</h2>
            </div>
            <md-button ng-click="formulario.cancel()">Cerrar</md-button>
        </md-tool-bar>
        <form class="col s12">
            <div class="row">
                <md-input-container>
                    <input ng-model="formulario.contacto.nombres" type="text" placeholder="Nombres" class="validate">
                    <label for="formulario.contacto.nombres">Nombres:</label>
                </md-input-container>
                <md-input-container>
                    <input ng-model="formulario.contacto.apellidos" type="text" placeholder="Apellidos" class="validate">
                    <label for="formulario.contacto.apellidos">Apellidos:</label>
                </md-input-container>
                <md-input-container>
                    <input ng-model="formulario.contacto.telefono" type="text" placeholder="Telefono" class="validate">
                    <label for="formulario.contacto.telefono">Telefono:</label>
                </md-input-container>
            </div>
            <div class="row">
                <md-input-container>
                    <input ng-model="formulario.contacto.email" type="text" placeholder="email"> 
                    <label for="">Email:</label>
                </md-input-container>
                <md-input-container>
                    <input ng-model="formulario.contacto.categoria" type="text" placeholder="categoria"> 
                    <label for="">Categoria:</label>
                </md-input-container>
                <md-datepicker ng-model="formulario.contacto.fecha_nacimiento" md-placeholder="Fecha de Cumpleaños"></md-datepicker>
            </div>
            <div class="row">
                <md-input-container>
                    <input ng-model="formulario.contacto.pais" type="text" placeholder="pais"> 
                    <label for="">Pais:</label>
                </md-input-container>
                <md-input-container>
                    <input ng-model="formulario.contacto.departamento" type="text" placeholder="departamento"> 
                    <label for="">Departamento:</label>
                </md-input-container>
                <md-input-container>
                    <input ng-model="formulario.contacto.ciudad" type="text" placeholder="ciudad"> 
                    <label for="">Ciudad:</label>
                </md-input-container>
            </div>
            <div class="row">
                <md-input-container>
                    <input ng-model="formulario.contacto.direccion" type="text" placeholder="direccion"> 
                    <label for="">Direccion:</label>
                </md-input-container>
                <md-input-container>
                    <input ng-model="formulario.contacto.coordenadas" type="text" placeholder="coordenadas"> 
                    <label for="">Coordenadas:</label>
                </md-input-container>
            </div>
            <div class="row">
                <md-input-container>
                    <textarea ng-model="formulario.contacto.notas" type="text" placeholder="Notas" class="materialize-textarea"></textarea>
                    <label for="formulario.contacto.notas">Notas:</label>
                </md-input-container>
            </div>

            <div class="btn-flat" ngf-select="upload($file)" ng-model="file" name="file"
                                                                             ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100">
                Imagen de Contacto
            </div>

            <md-button ng-if="!formulario.editar" ng-click="formulario.crearContacto(formulario.contacto)">Crear</md-button>
            <a ng-if="formulario.editar" ng-click="formulario.guardarCambios(formulario.contacto)" class="waves-effect waves-light btn"><i class="material-icons right">done</i>Guardar Cambios</a>
        </form>
    </md-dialog-content>
</md-dialog>
