<form>
    <div class="input-field">
        <select ng-model="tabla.filtro" class="browser-default">
            <option ng-repeat="contacto in tabla.contactos | unique: 'categoria' | orderBy: 'categoria'" value="{{contacto.categoria}}">{{contacto.categoria}}</option>
        </select>
        <label>Seleccionar categoria</label>
    </div>
</form>
<table>
    <thead>
        <tr>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Telefono</th>
            <th>Email</th>
            <th>Categoria</th>
            <th>Direccion</th>
            <th>Fecha de Cumpleaños</th>
            <th>Seleccionar</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="contacto in tabla.contactos | filter: tabla.filtro">
            <td>{{contacto.nombres}}</td>
            <td>{{contacto.apellidos}}</td>
            <td>{{contacto.telefono}}</td>
            <td>{{contacto.email}}</td>
            <td>{{contacto.categoria}}</td>
            <td>{{contacto.direccion}}</td>
            <td>{{contacto.fecha_nacimiento}}</td>
            <td><input type="checkbox" id="contacto{{contacto.id}}" class="filled-in" ng-model="contacto.paraBorrar"/><label for="contacto{{contacto.id}}"></label></td>
        </tr>
    </tbody>
</table>
<div class="">
    <button type="" ng-click="tabla.borrar()" class="waves-effect waves-light btn">Borrar Seleccionados</button>
</div>
