<div class="container modal" id="contacto-form" name="formulario.form">
    <div class="row">
        <form class="col s12">
            <div class="row center-align" ng-if="formulario.error">
                <p class="center-align">{{formulario.error}}</p>
            </div>
            <div class="row">
                <div class="input-field col s4">
                    <input ng-model="formulario.contacto.nombres" type="text" placeholder="Nombres" class="validate" name="nombres">
                    <label for="formulario.contacto.nombres">Nombres:</label>
                </div>
                <div class="input-field col s4">
                    <input ng-model="formulario.contacto.apellidos" type="text" placeholder="Apellidos" class="validate" name="apellidos">
                    <label for="formulario.contacto.apellidos">Apellidos:</label>
                </div>
                <div class="input-field col s4">
                    <input ng-model="formulario.contacto.telefono" type="text" placeholder="Telefono" class="validate">
                    <label for="formulario.contacto.telefono">Telefono:</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s4">
                    <input ng-model="formulario.contacto.email" type="text" placeholder="email"> 
                    <label for="">Email:</label>
                </div>
                <div class="input-field col s4">
                    <input ng-model="formulario.contacto.categoria" type="text" placeholder="categoria"> 
                    <label for="">Categoria:</label>
                </div>
                <div class="input-field col s4">
                    <input ng-model="formulario.contacto.fecha_nacimiento" type="date" class="datepicker" placeholder="fecha_nacimiento"> 
                    <label for="">Fecha de Cumpleaños:</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s4">
                    <input ng-model="formulario.contacto.pais" type="text" placeholder="pais"> 
                    <label for="">Pais:</label>
                </div>
                <div class="input-field col s4">
                    <input ng-model="formulario.contacto.departamento" type="text" placeholder="departamento"> 
                    <label for="">Departamento:</label>
                </div>
                <div class="input-field col s4">
                    <input ng-model="formulario.contacto.ciudad" type="text" placeholder="ciudad"> 
                    <label for="">Ciudad:</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input ng-model="formulario.contacto.direccion" type="text" placeholder="direccion"> 
                    <label for="">Direccion:</label>
                </div>
                <div class="input-field col s6">
                    <input ng-model="formulario.contacto.coordenadas" type="text" placeholder="coordenadas"> 
                    <label for="">Coordenadas:</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <textarea ng-model="formulario.contacto.notas" type="text" placeholder="Notas" class="materialize-textarea"></textarea>
                    <label for="formulario.contacto.notas">Notas:</label>
                </div>
            </div>

            <div class="btn-flat" ngf-select="formulario.seleccionarImg(file)" ng-model="file" name="file"
                 ngf-max-size="20MB" ngf-min-height="100">
                Imagen de Contacto
            </div>

            <a ng-if="!formulario.modoEditar" ng-click="formulario.crear(formulario.contacto)" class="waves-effect waves-light btn"><i class="material-icons right">done</i>Crear</a>
            <a ng-if="formulario.modoEditar" ng-click="formulario.editar(formulario.contacto)" class="waves-effect waves-light btn"><i class="material-icons right">done</i>Guardar Cambios</a>
        </form>
    </div>
</div>
