<div ng-if="cnt.contacto.nombres">
    <div class="card purple lighten-2">
        <div ng-if="cnt.imagen" class="card-image">
            <img ng-src="{{'data:image/png;base64,' + cnt.imagen}}"></img>
        </div>
        <div class="card-content white-text">
            <span class="card-title activator grey-text text-darken-4">
                {{cnt.contacto.nombres}} {{cnt.contacto.apellidos}}
                <i class="material-icons right">more_vert</i></span>
            <p>Telefono: {{cnt.contacto.telefono}}</p>
            <p>Email: {{cnt.contacto.email}}</p>
        </div>
        <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">
                {{cnt.contacto.nombres}} {{cnt.contacto.apellidos}}
                <i class="material-icons right">close</i>
            </span>
            <p>Cumpleaños: {{cnt.contacto.fecha_nacimiento}}</p>
            <p>Direccion: {{cnt.contacto.pais}} {{cnt.contacto.departamento}} {{cnt.contacto.ciudad}}
            {{cnt.contacto.direccion}}
            </p>
            <p>Categoria: {{cnt.contacto.categoria}}</p>
            <p>Notas: {{cnt.contacto.notas}}</p>
            <div ng-if="cnt.contacto.direccion">
                <div map-lazy-load="https://maps.googleapis.com/maps/api/js?key=AIzaSyCenvVgbTO5zfRsh-8MGKS04rTMOPZur_w">
                    <ng-map center="{{cnt.contacto.direccion}}" style="height:300px">
                        <marker position="{{cnt.contacto.coordenadas}}"><marker>
                    </ng-map>
                </div>
            </div>
        </div>
        <div class="card-action">
            <a ng-click="cnt.borrar(cnt.contacto)" href="#card">
                <i class="material-icons white-text">delete</i>
            </a>
            <a ng-click="cnt.editar(cnt.contacto)" href="#contacto-form">
                <i class="modal-trigger material-icons white-text">mode_edit</i>
            </a>
        </div>
    </div>
</div>
