.custom-restricted {
    height: 160px;
    border: 1px solid gray;
    border-radius: 4px;
}

body {
    margin: 0 auto;
}

.error {
    background-color: red;
}

.pure-menu {
    background-color: #f8f8f8;
}

.lista-contactos {
    background-color: #f0f0f0;
}

.lista-contactos > ul {
    list-style-type: none;
}

.lista-contactos > ul > li {
    background: white;
    display: block;
}

.card {
    padding: 2em;
    margin: 2em;
    background: #CFF5FF;
    box-shadow: 0.5em 0.5em 1em #f5f5f5;
    border-bottom-right-radius: 2em;
}
